[Desktop Entry]
Version=1.0
Name=QuickConvert
GenericName=A tool to quickly convert from one unit to another, providing numerous units to choose from.
Type=Application
Comment=A tool to quickly convert from one unit to another
Icon=quickconvert
Exec=quickconvert
Terminal=false
StartupNotify=false
StartupWMClass=quickconvert
Categories=Utility;
Comment[cs]=Nástroj pro rychlý převod z jedné jednotky na druhou
Comment[de]=Ein Tool zum schnellen Umwandeln von einer Einheit in eine andere
Comment[el]=Ένα εργαλείο για γρήγορη μετατροπή από μια μονάδα σε μια άλλη
Comment[en]=A tool to quickly convert from one unit to another
Comment[es]=Una herramienta para convertir rápidamente de una unidad a otra
Comment[fr]=Un outil pour passer rapidement d'une unité à une autre
Comment[gl]=Unha ferramenta para converter rapidamente dunha unidade a outra
Comment[hu]=Egy eszköz az egyik egységről a másikra való gyors konvertáláshoz
Comment[id]=Alat untuk dengan cepat mengkonversi dari satu unit ke unit lainnya
Comment[it]=Uno strumento per convertire rapidamente da un'unità all'altra
Comment[ja]=ある単位から別の単位にすばやく変換するためのツール
Comment[kk]=Бір бірліктен екіншісіне жылдам түрлендіру құралы
Comment[lt]=Įrankis greitai konvertuoti iš vieno vieneto į kitą
Comment[mr]=एका युनिटमधून दुसऱ्या युनिटमध्ये पटकन रूपांतरित करण्याचे साधन
Comment[pl]=Narzędzie do szybkiej konwersji z jednej jednostki na drugą
Comment[pt]=Uma ferramenta para converter rapidamente de uma unidade para outra
Comment[ro]=Un instrument pentru a converti rapid de la o unitate la alta
Comment[ru]=Инструмент для быстрого преобразования из одних единиц в другие.
Comment[sk]=Nástroj na rýchlu konverziu z jednej jednotky na druhú
Comment[sv]=Ett verktyg för att snabbt konvertera från en enhet till en annan
Comment[tr]=Bir birimden diğerine hızla dönüştürmek için bir araç
Comment[uk]=Інструмент для швидкого перетворення з однієї одиниці в іншу
Comment[zh]=一种快速从一个单位转换为另一个单位的工具
